/*
	STRUCTURE:
	0. Layers and imports
	1. Global custom properties
	2. Global and inherited styles
	3. Composition / Layout primitives
	4. Utility classes
	5. Blocks
*/

/* ============ 0. LAYERS AND IMPORTS ============ */

@layer base;

@import url("https://germanfrelo.github.io/base-css-stylesheet/base.css") layer(base);

/* ============ 1. GLOBAL CUSTOM PROPERTIES ============ */

:root {
	/* Font */
	--ff-sans-fallback: ui-sans-serif, system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	--ff-body: var(--ff-sans-fallback);
	--fw-body-regular: 400;
	--fw-body-medium: 500;
	--fw-body-bold: 700;
	--ff-mono: ui-monospace, "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", monospace;

	/* Size Scale */
	--base-size: 1rem;
	--ratio: 1.333;
	--s-900: calc(var(--base-size) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
	--s-800: calc(var(--base-size) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));
	--s-700: calc(var(--base-size) * var(--ratio) * var(--ratio) * var(--ratio));
	--s-600: calc(var(--base-size) * var(--ratio) * var(--ratio));
	--s-500: calc(var(--base-size) * var(--ratio));
	--s-400: var(--base-size);
	--s-300: calc(var(--base-size) / var(--ratio));
	--s-200: calc(var(--base-size) / var(--ratio) / var(--ratio));
	--s-100: calc(var(--base-size) / var(--ratio) / var(--ratio) / var(--ratio));

	/* Fluid Type Scale */

	/* @link https://utopia.fyi/type/calculator?c=320,17,1.2,1440,19,1.25,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
	--step--1: clamp(0.8856rem, 0.8672rem + 0.092vw, 0.95rem);
	--step-0: clamp(1.0625rem, 1.0268rem + 0.1786vw, 1.1875rem);
	--step-1: clamp(1.275rem, 1.2152rem + 0.2991vw, 1.4844rem);
	--step-2: clamp(1.53rem, 1.437rem + 0.4652vw, 1.8556rem);
	--step-3: clamp(1.8363rem, 1.6982rem + 0.6902vw, 2.3194rem);
	--step-4: clamp(2.2031rem, 2.0042rem + 0.9946vw, 2.8994rem);
	--step-5: clamp(2.6438rem, 2.3637rem + 1.4vw, 3.6238rem);

	/* Line Height */
	--lh-large: 1.6;
	--lh-small: 1.2;

	/* Line length */
	--page-max-inline-size: 60rem;

	/* Padding */
	--padding-xxxl: 2em;
	--padding-xxl: 1.75em;
	--padding-xl: 1.5em;
	--padding-lg: 1.25em;
	--padding-md: 1em;
	--padding-sm: 0.75em;
	--padding-xs: 0.5em;
	--padding-xxs: 0.25em;
	--padding-xxxs: 0.125em;

	/* Colors */
	--color-scheme: light dark;
	--c-tx-1: hsl(217deg 50% 10%);
	--c-tx-2: hsl(217deg 15% 40%);
	--c-bg-1: hsl(217deg 50% 100%);
	--c-bg-2: hsl(217deg 40% 98%);
	--c-bg-3: hsl(217deg 25% 95%);
	--c-bg-a: hsl(217deg 25% 80% / 33.33%);
	--c-bd-1: hsl(217deg 25% 85%);
	--c-bd-2: hsl(217deg 25% 90%);
	--c-link: hsl(217deg 90% 47%);

	/* Border With */
	--bw-1: 0.0625rem;
	--bw-2: 0.125rem;
	--bw-3: 0.1875rem;
	--bw-4: 0.25rem;

	/* Border Radius */
	--border-radius: 0.25rem;

	/* Transitions */
	--tr-duration-and-timing-function: 0.1s ease-in;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Colors */
		--c-tx-1: hsl(217deg 25% 90%);
		--c-tx-2: hsl(217deg 10% 70%);
		--c-bg-1: hsl(217deg 15% 6%);
		--c-bg-2: hsl(217deg 15% 9%);
		--c-bg-3: hsl(217deg 15% 15%);
		--c-bg-a: hsl(217deg 15% 40% / 33.33%);
		--c-bd-1: hsl(217deg 10% 30%);
		--c-bd-2: hsl(217deg 10% 25%);
		--c-link: hsl(217deg 100% 67%);
	}
}

/* ============ 2. GLOBAL AND INHERITED STYLES ============ */

/* All elements
   ======================================== */

* {
	margin: 0;
}

/* Document
   ======================================== */

html {
	color-scheme: var(--color-scheme);
}

/* Sections and headings
   ======================================== */

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-family: var(--ff-body);
	font-size: var(--step-0);
	font-weight: var(--fw-body-regular);
	font-variant-ligatures: no-common-ligatures;
	line-height: var(--lh-large);
	color: var(--c-tx-1);
	background-color: var(--c-bg-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: var(--lh-small);
}

h1 {
	font-size: var(--step-5);
}

h2 {
	font-size: var(--step-4);
}

h3 {
	font-size: var(--step-3);
}

h4 {
	font-size: var(--step-2);
}

h5 {
	font-size: var(--step-1);
}

h6 {
	font-size: var(--step-0);
}

address {
	font-style: normal;
}

/* Grouping content
   ======================================== */

hr {
	block-size: var(--bw-2);
	background-color: var(--c-bd-1);
	border: none;
}

blockquote {
	padding-inline: var(--padding-md);
	margin-inline: 0;
	text-align: start;
	border-inline-start: var(--bw-4) solid var(--c-bd-1);
}

blockquote > :first-child {
	margin-block-start: 0;
}

blockquote > :last-child {
	margin-block-end: 0;
}

ol,
ul,
menu {
	padding-inline-start: var(--padding-xxxl);
}

/* Text-level semantics
   ======================================== */

a {
	color: var(--c-link);
	transition: color var(--tr-duration-and-timing-function);
}

:is(h1, h2, h3, h4, h5, h6) a {
	color: inherit;
}

.site-header a {
	display: inline-block;
	color: inherit;
	text-decoration-line: none;
}

a:is(:hover, :focus) {
	text-decoration-line: none;
}

b,
strong {
	font-weight: var(--fw-body-bold);
}

/* ============ 3. COMPOSITION / LAYOUT PRIMITIVES ============ */

/* Flow
   ======================================== */

.flow > * + * {
	margin-block-start: var(--flow-space, 1em);
}

.flow :is(h2, h3) {
	--flow-space: 2em;
}

/* Stack
   ======================================== */

[class*="l-stack"] {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

[class*="l-stack"] > * {
	margin-block: 0;
}

[class*="l-stack"] > * + * {
	margin-block-start: var(--space, 1rem);
}

.l-stack-xxxl > * + * {
	--space: var(--s-800);
}

.l-stack-xxl > * + * {
	--space: var(--s-700);
}

.l-stack-xl > * + * {
	--space: var(--s-600);
}

.l-stack-lg > * + * {
	--space: var(--s-500);
}

.l-stack-md > * + * {
	--space: var(--s-400);
}

.l-stack-sm > * + * {
	--space: var(--s-300);
}

.l-stack-xs > * + * {
	--space: var(--s-200);
}

.l-stack-xxs > * + * {
	--space: var(--s-100);
}

/* Cluster
   ======================================== */

[class*="l-cluster"] {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

[class*="l-cluster"] > * {
	margin-block: 0;
}

.l-cluster-xl {
	gap: var(--s-600);
}

.l-cluster-lg {
	gap: var(--s-500);
}

.l-cluster-md {
	gap: var(--s-400);
}

.l-cluster-sm {
	gap: var(--s-300);
}

.l-cluster-xs {
	gap: var(--s-200);
}

.l-cluster-xxs {
	gap: var(--s-100);
}

/* ============ 4. UTILITY CLASSES ============ */

/* Standard utility classes
   ======================================== */

.visually-hidden {
	position: absolute !important;
	inline-size: 1px !important;
	block-size: 1px !important;
	overflow: hidden !important;
	clip-path: inset(50%) !important;
	white-space: nowrap !important;
}

.wrapper {
	inline-size: 90%;
	max-inline-size: var(--page-max-inline-size);
	margin-inline: auto;
}

/* Design tokens utility classes
   ======================================== */

/* Gap */

.gap-100 {
	gap: var(--s-100);
}

.gap-200 {
	gap: var(--s-200);
}

.gap-300 {
	gap: var(--s-300);
}

.gap-400 {
	gap: var(--s-400);
}

.gap-500 {
	gap: var(--s-500);
}

.gap-600 {
	gap: var(--s-600);
}

.gap-700 {
	gap: var(--s-700);
}

.gap-800 {
	gap: var(--s-800);
}

/* Font Size */

.text-step--1 {
	font-size: var(--step--1);
}

.text-step-0 {
	font-size: var(--step-0);
}

.text-step-1 {
	font-size: var(--step-1);
}

.text-step-2 {
	font-size: var(--step-2);
	line-height: var(--lh-small);
}

.text-step-3 {
	font-size: var(--step-3);
	line-height: var(--lh-small);
}

.text-step-4 {
	font-size: var(--step-4);
	line-height: var(--lh-small);
}

.text-step-5 {
	font-size: var(--step-5);
	line-height: var(--lh-small);
}

/* Font Weight */

.font-regular {
	font-weight: var(--fw-body-regular);
}

.font-medium {
	font-weight: var(--fw-body-medium);
}

.font-bold {
	font-weight: var(--fw-body-bold);
}

/* ============ 5. BLOCKS ============ */

/* Site main
   ======================================== */

.site-main {
	padding-block-start: var(--s-800);
	padding-block-end: var(--s-900);
}

/* Site footer
   ======================================== */

.site-footer {
	padding-block: var(--s-700);
	font-size: var(--step--1);
	color: var(--c-tx-2);
	text-align: center;
	background-color: var(--c-bg-2);
}
